body{
    background-color: antiquewhite;
}
header, section, aside, article, footer{
    background: whitesmoke;

}
header, section, article{
    width: 800px;
    float: left;
    margin-left: 50px;
}
aside{
    width: 280px;
    width: 30%;
    float: right;
    margin-top: -832px;
    margin-right: 50px;
    height: 1500px;
}

footer, section, article{
    clear: both; 
}
footer{
    background-color: aliceblue;
    margin-top: 8px;
}
header p span{
    background: rgba(36, 190, 36, 0.5);
    padding: 16px;
    color: white;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    font-size: larger;
}
header p button{
    background-color: #c40c0c;
    float: left;
    
}
header p button div{
    float: right;
    background-color: wheat;
}
section, article{
    margin-top: 8px;
}
article, section div{
    text-align: center;
}
article{
    margin-bottom: 700px;
}
a{
    color: black;
    font-weight: bold;
}
a:hover{
    color: black;
}